@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #0c0c0c;
  overflow: hidden;
  overflow-y: scroll;
}

/*HEADER*/
#header {
  height: 10%;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: white;
}

#header-img {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 17vw;
  height: auto;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  color: black;
  font: 120% "Raleway", sans-serif;
}

.nav-link:hover {
  color: white;
  background-color: #cc271c;
}

/*CONT1*/
#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#home img {
  width: 35vw;
  height: auto;
}

.title {
  font: 80px "Raleway", sans-serif;
  line-height: 100px;
  font-weight: bold;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  color: white;
}

.slider {
  color: yellow;
  margin-left: 20px;
  box-sizing: border-box;
  animation: slider 5s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -400px;
  }
  10% {
    margin-top: -200px;
  }
  35% {
    margin-top: -200px;
  }
  45% {
    margin-top: 0px;
  }
  60% {
    margin-top: 0px;
  }
  70% {
    margin-top: 200px;
  }
  100% {
    margin-top: 200px;
  }
}
/*CONT2*/
#about {
  width: 100vw;
  height: 100vh;
  padding-top: 50px;
  background: #ffe2fe;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
#about h1 {
  padding-top: 120px;
  font: 60px "Raleway", sans-serif;
  color: #cc271c;
}
#about h3 {
  font: 40px "Raleway", sans-serif;
  margin: 0 auto;
}
#about p {
  font: 15px "Comfortaa", cursive;
}

#aboutusText {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2s;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: flex-end;
}

#who-we-are {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  margin: 0 auto;
  padding-left: 50px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #who-we-are {
    padding-left: 20px;
  }
}

#mission {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  margin: 0 auto;
  padding-left: 50px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #mission {
    padding-left: 20px;
  }
}

#vision {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  margin: 0 auto;
  padding-left: 50px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #vision {
    padding-left: 20px;
  }
}

#video iframe {
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #video iframe {
    width: 140px;
    height: 115px;
  }
}

#video {
  width: 560px;
  height: 315px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #video {
    width: 140px;
    height: 115px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto;
  }
}

/*CONT3*/
#services {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  background: black;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 15% 20% 35% 30%;
  color: white;
}
#services h1 {
  font: 60px "Raleway", sans-serif;
}
#services h2 {
  font: 30px "Raleway", sans-serif;
}
#services h3 {
  font: 15px "Comfortaa", cursive;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #services {
    width: 98.8vw;
    height: 50%;
    padding-top: 50px;
    background: black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 15% 20% 35% 30%;
    color: white;
  }
  #services h1 {
    font: 30px "Raleway", sans-serif;
  }
  #services h2 {
    font: 12px "Raleway", sans-serif;
  }
  #services h3 {
    font: 5px "Comfortaa", cursive;
  }
}

#servicesText {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  margin: 0 auto;
}

#service1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #service1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#service2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #service2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#service3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #service3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*CONT4*/
#ourProducts {
  width: 98.8vw;
  height: 100vh;
  padding-top: 100px;
  background: white;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 15% 30% 10% 40%;
}
#ourProducts h1 {
  font: 60px "Raleway", sans-serif;
  color: #cc271c;
}
#ourProducts h2 {
  font: 55px "Raleway", sans-serif;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #ourProducts {
    width: 98.8vw;
    height: 50%;
    background: white;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 15% 15% 20% 40%;
  }
  #ourProducts h1 {
    font: 30px "Raleway", sans-serif;
    color: #cc271c;
  }
  #ourProducts h2 {
    font: 12px "Raleway", sans-serif;
  }
}

#prod {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  margin: 0 auto;
}

#text-label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  margin: 0 auto;
  margin-left: 60px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #text-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 20px;
  }
}

#prd1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  margin: 0 auto;
}
#prd1 img {
  width: 300px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #prd1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    margin: 0 auto;
    margin-left: -10px;
    margin-top: 20px;
  }
  #prd1 img {
    width: 100px;
  }
}

#prd2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  margin: 0 auto;
}
#prd2 img {
  width: 300px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #prd2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin: 0 auto;
    margin-left: -5px;
  }
  #prd2 img {
    width: 100px;
  }
}

/*CONT5*/
#contactUs {
  width: 98.8vw;
  height: 80vh;
  padding-top: 100px;
  background: black;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 30% 30% 30%;
  color: white;
}
#contactUs h1 {
  font: 60px "Raleway", sans-serif;
}
#contactUs h2 {
  font: 30px "Raleway", sans-serif;
}
#contactUs h4 {
  font: 15px "Comfortaa", cursive;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #contactUs {
    width: 98.8vw;
    height: 80vh;
    padding-top: 50px;
    background: black;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 30% 30% 30%;
    color: white;
  }
  #contactUs h1 {
    font: 30px "Raleway", sans-serif;
  }
  #contactUs h2 {
    font: 20px "Raleway", sans-serif;
  }
  #contactUs h4 {
    font: 10px "Comfortaa", cursive;
  }
}

#contact-us {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 auto;
}

#form {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 120px;
  font: 15px "Comfortaa", cursive;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #form {
    padding-left: 20px;
  }
}

#where {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 40px;
  padding-right: 50px;
}

#map {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: 0 auto;
  padding-left: 100px;
  width: 350px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #map {
    padding-left: 0;
    width: 140px;
  }
}

#send {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-left: 40px;
  padding-top: 40px;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #send {
    padding-left: 20px;
    padding-top: 20px;
  }
}

input[type=text],
input[type=email] {
  width: 20vw;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: cornsilk;
  font: "Comfortaa", cursive;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  input[type=text],
input[type=email] {
    width: 100px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: cornsilk;
    font: "Comfortaa", cursive;
  }
}
input[type=text] input[type=text],
input[type=text] input[type=email]::placeholder,
input[type=email] input[type=text],
input[type=email] input[type=email]::placeholder {
  display: none;
}

textarea {
  width: 20vw;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: cornsilk;
  color: black;
  resize: none;
  font-size: 15px;
  font: "Comfortaa", cursive;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  textarea {
    width: 100px;
    height: 20px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: cornsilk;
    color: black;
    resize: none;
    font-size: 10px;
    font: "Comfortaa", cursive;
  }
}

input[type=submit] {
  width: 20%;
  padding: 10px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  font: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  input[type=submit] {
    width: 40px;
    padding: 10px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 10px;
    font: "Raleway", sans-serif;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

input[type=submit]:hover {
  color: whitesmoke;
  background-color: #cc271c;
}

#footer {
  height: 50px;
  width: 98.8vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
#footer a {
  text-decoration: none;
  margin: 30px;
}
#footer img {
  width: 20px;
}
#footer :hover {
  background-color: #cc271c;
}
@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #footer {
    height: 20px;
    width: 98.8vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
  }
  #footer a {
    text-decoration: none;
    margin: 15px;
  }
  #footer img {
    width: 12px;
  }
}

@media only screen and (max-width: 320px), (max-width: 375px), (max-width: 430px) {
  #header {
    height: 20px;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
  }

  #header-img {
    display: none;
  }

  .nav-link {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
    color: black;
    font: 60% "Raleway", sans-serif;
  }

  #home {
    width: 98.8vw;
    height: 50%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  #home img {
    width: 150px;
    height: auto;
  }

  .title {
    font: 40px "Raleway", sans-serif;
    line-height: 50px;
    font-weight: bold;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    color: white;
  }

  @keyframes slider {
    0% {
      margin-top: -200px;
    }
    10% {
      margin-top: -100px;
    }
    35% {
      margin-top: -100px;
    }
    45% {
      margin-top: 0px;
    }
    60% {
      margin-top: 0px;
    }
    70% {
      margin-top: 100px;
    }
    100% {
      margin-top: 100px;
    }
  }
  #about {
    width: 98.8vw;
    height: 50%;
    background: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  #about h1 {
    padding-top: 0px;
    font: 30px "Raleway", sans-serif;
    color: #cc271c;
  }
  #about h3 {
    font: 10px "Raleway", sans-serif;
    margin: 0 auto;
  }
  #about p {
    font: 5px "Comfortaa", cursive;
  }
}

/*# sourceMappingURL=style.css.map */
