@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

$fontT: 'Staatliches', cursive;
$fontH: 'Poppins', sans-serif;
$fontQ: 'Cairo', sans-serif;

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg14.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 20% 20% 10% 15% 15% 20%;
}

.clock {
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 auto;
    h1 {
        font: 90px $fontT;
        font-weight: bold;
        color: #01295F;
        text-shadow: 2px 2px 4px #EF767A;
    }
}

.name-container {
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 2;
    grid-row-end: 3;
}

.name, .greetings {
    margin-top: 20%;
    margin-bottom: 15%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    /* position: absolute;
    display: none; */
  }

.name input {
    width: 25vw;
    height: 6vh;
    margin-top: 15%;
    font: 100% $fontH;
    border: none;
    background-color: transparent;
}

#submit {
    display: none;
}

/* .name:hover {
    color: turquoise;
    transition-property: width;
    transition-duration: 2s;
} */

.focus-container {
    grid-column-start: 1;
    grid-column-end: 2; 
    grid-row-start: 3;
    grid-row-end: 7;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255,0.3);
    border-radius: 7%;
}

.focus {
    margin-top: 15%;
    margin-bottom: 15%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    h1 {
        font: 150% $fontH;
    }
}

#focusjs input {
    width: 25vw;
    height: 6vh;
    font: 90% $fontH;
    border: none;
    background-color: transparent;
}

.quote {
    grid-column-start: 2;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 5% auto;
    margin-left: 10%;
    margin-right: 10%;
    h2 {
        font: 180% $fontQ;
        margin-bottom: 2px;
        color: #01295F;
        text-shadow: 2px 2px 4px #EF767A;
    }
    h4 {
        font: 100% $fontQ;
        margin-left: 10%;
        line-height:2px;
        color: #01295F;
        text-shadow: 2px 2px 4px #EF767A;
    }
}

.todo-container {
    grid-column-start: 2;
    grid-column-end: 4; 
    grid-row-start: 3;
    grid-row-end: 7;
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(255, 255, 255,0.3);
    border-radius: 7%;
}

.todo {
    margin-top: 15%;
    margin-bottom: 15%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    h1 {
        font: 150% $fontH;
    }
}

#todojs input {
    width: 35vw;
    height: 6vh;
    font: 90% $fontH;
    border: none;
    background-color: transparent;
}